.solaris-faq {
    max-width: 1440px;
    padding: 80px 60px;

    margin: auto;
    box-sizing: border-box;
}

.solaris-faq__title {
    color: var(--dark);
}

.solaris-faq-container {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.solaris-faq__list {
    display: flex;
    flex-direction: column;
    max-width: 589px;
    width: 46%;
    gap: 30px;
}

.solaris-faq__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark);
    position: relative;
}

.solaris-faq__item-subtitle {
    margin-right: 20px;
    min-width: 225px;
}

.solaris-faq__item-btn {
    border-radius: 100%;
    border: none;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    /* padding: 9px; */
}

.solaris-faq__item-btn--current path {
    stroke: var(--white);
}

.solaris-faq__item-btn:focus {
    outline: none;
}

.solaris__item-btn--current {
    fill: var(--roseBege);
    transform: translateX(40px);
}

.solaris__item-btn--current rect {
    stroke: var(--roseBege);
}

.solaris__item-btn--current path {
    stroke: var(--white);
}

.solaris-faq-content {
    min-width: 606px;
    height: fit-content;
    border: 2px solid var(--roseBege);
    min-height: 195px;
    transform: translateX(40px);
    transition: 0.4s;
    display: none;
}

.solaris-faq-content--current {
    display: flex;
    transform: translate(30px, -10px);
    max-width: 653px;
    height: fit-content;
    border: 2px solid var(--roseBege);
}

.solaris-faq__description {
    padding: 24px;
    color: var(--dark);
    max-width: 585px;
}

.faq-content--visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -33px;
    left: 110%;
    min-width: 100%;
}

@media (max-width: 991px) {
    .solaris-faq {
        padding-left: 40px;
        padding-right: 40px;
    }

    .solaris-faq__title {
        font-size: 24px;
    }

    .solaris-faq-container {
        display: block;
    }

    .faq-content--visible {
        position: static;
        transform: translate(0);
    }

    .solaris-faq__list {
        width: 100%;
    }

    .solaris__item-btn--current {
        -webkit-transform: translate(0) scale(1);
        -ms-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
    }

    .solaris-faq__item-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        transform: rotate(-90deg);
    }

    .solaris__item-btn--current {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(90deg);
    }

    .faq-arrow-right--current {
        margin-top: -7px;
        margin-right: -1px;
        transform: rotate(130deg) scale(1.5);
    }

    .solaris-faq__item {
        display: block;
    }

    .solaris-faq-content {
        margin-top: 33px;
    }

    .solaris-faq__list {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .solaris-faq {
        padding: 0 16px;
    }

    .solaris-faq__description {
        word-wrap: break-word;
    }

    .solaris-faq__item {
        display: block;
    }

    .faq-arrow-right {
        left: -1px;
    }

    .solaris-faq__title {
        line-height: 150%;
        text-align: center;
        margin-top: 40px;
    }

    .solaris-faq-content {
        min-width: auto;
    }

    .solaris-faq__item-subtitle {
        max-width: 90%;
    }

    .faq-arrow-right--current {
        margin-right: 0;
    }


}